@font-face {
	font-family: lobster;
	src: url(fonts/Lobster-Regular.ttf);
}

.big-lobster {
	font-family: lobster;
	color: darkred;
}

.link-bar {
	text-align: center;
}

.link-bar-item {
	border-radius: 10px;
	background: #201e1e;
	display: inline-block;
	padding: 7px 20px 7px 20px ;
	margin-left: 2px;
	margin-right: 2px;
	filter: drop-shadow(5px 5px 0px #181818);
}

.top-bar {
	margin-bottom: 10px;
	background: #020513;
	padding-bottom: 30px;
	padding-top: 30px;
	margin: 0;
	margin-bottom: 15px;
	background-image: url(snowflakes.png);
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	background-size: 256px;
	animation: snowfall 7s infinite;
	animation-timing-function: linear;
}

@keyframes snowfall {
  from {background-position: 0px 0px;}
  to {background-position: 256px 256px;}
}

body {
	margin: 0;
}

h1 {
	text-align: center;
	font-family: lobster;
	font-size: 300%;
	filter: drop-shadow(5px 1px 0px #4444dd);
}

p {
	font-family: fantasy;
	font-size: 150%;
	font-weight: bold;
	filter: drop-shadow(5px 1px 0px #4444dd);
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
} 



/* Light mode */
body {
	background-color: rgb(253, 251, 239);
	color: black;
}

a {
	color: rgb(34, 32, 52);
}

@media (prefers-color-scheme: dark) {

/* Dark mode */
body {
    background-color: rgb(40, 40, 40);
    color: white;
}

a {
	color: #75b9ce;
}

}

