@font-face {
	font-family: lobster;
	src: url(fonts/Lobster/Lobster-Regular.ttf);
}

.big-lobster {
	font-family: lobster;
	color: darkred;
}

.link-bar {
	text-align: center;
	padding-bottom: 25px;
	padding-top: 25px;
	margin-top: 0px;
	background-image: url(ice.png);
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	background-size: contain;
	background-repeat: repeat-x;
}

.link-bar-item {
	border-radius: 10px;
	background:#312C2B;
	display: inline-block;
	padding: 10px 25px 10px 25px;
    font-size: 18px;

	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	filter: drop-shadow(5px 5px 0px #142035);
	cursor: pointer;

	color:#9BBFFF;
	font-weight: bold;
}

.top-bar {
	background: #020513;
	padding-bottom: 30px;
	padding-top: 30px;
	margin: 0;
	margin-bottom: 0px;
	background-image: url(snowflakes.png);
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
	background-size: 256px;
	animation: snowfall 7s infinite;
	animation-timing-function: linear;
}

@keyframes snowfall {
  from {background-position: 0px 0px;}
  to {background-position: 256px 256px;}
}

/* General Style of bottom stuff */
.topics {
	font-size: calc(1.0rem + 0.4vw);
	font-weight: bold;
	color: #FFFCEE;
    margin-bottom: 100px; /* Margin for footer */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3C3836;
  padding: 5px;
}

/* Poppout Elements */
.popout {
	display: inline-block;
	transition: 0.03s;
	transition-timing-function: ease-in;
	transform: perspective(500px) translate3d(0px, 0px, 0px);
	position: relative;
	z-index: 1;
}
.popout:hover {
	transition: 0.03s;
	transform: perspective(500px) translate3d(0px, 0px, 20px);
	z-index: 2;
}

/* Mobile */
.resp-margin {
    margin-left: 2%;
}

/* Tablet */
@media (min-width:600px) {
    .resp-margin {
        margin-left: 10%;
    }
}

/* Desktop */
@media (min-width:900px) {
    .resp-margin {
        margin-left: 15%;
    }
}

/* -- General Styling -- */

h1 {
	text-align: center;
	font-family: lobster;
	font-size: calc(1.5rem + 3vw);
	filter: drop-shadow(5px 1px 0px #4444dd);
}
h2 {
	font-size: 150%;
}
h2::before, h2::after {
  content: " -- ";
}

/* Lists */
ul {
	list-style-type: none;
	padding-left: 5%;
}
li:before {
	content: "❄";
	color: #8CBFFF;
	margin-right: 10px;
}

/* Images */
img {
	vertical-align: middle;
}

/* Links */
a {
	color: #75b9ce;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active {
	text-decoration: underline;
} 

body {
	font-family: sans-serif;
	margin: 0;
    background-color: rgb(40, 40, 40);
    color: white;
}

/*@media (prefers-color-scheme: dark) {
}
*/

