.popout-bubble {
	background-image:    url(walking.jpg);
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
	display: inline-block;
	border-radius: 30px;
	transition: 0.08s;
	transition-timing-function: ease-in;
	transform: perspective(500px) translate3d(0px, 0px, -80px);
	font-size: 40px;
	margin: -28px;
	padding: 200px;
	position: relative;
	z-index: 1;
}

.popout-bubble:hover {
	transition: 0.3s;
	transform: perspective(500px) translate3d(0px, 0px, 0px);
	z-index: 2;
}

